	/*
  	Flaticon icon font: Flaticon
  	Creation date: 07/11/2020 05:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.html") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-style: normal;

}

.flaticon-placard:before { content: "\f100"; }
.flaticon-podium:before { content: "\f101"; }
.flaticon-group:before { content: "\f102"; }
.flaticon-capitol:before { content: "\f103"; }
.flaticon-university:before { content: "\f104"; }
.flaticon-car-park:before { content: "\f105"; }
.flaticon-global-education:before { content: "\f106"; }
.flaticon-international-business:before { content: "\f107"; }
.flaticon-parking:before { content: "\f108"; }
.flaticon-hospital-building:before { content: "\f109"; }
.flaticon-hospital:before { content: "\f10a"; }
.flaticon-government-building:before { content: "\f10b"; }
.flaticon-government-building-1:before { content: "\f10c"; }
.flaticon-high-school:before { content: "\f10d"; }
.flaticon-condominium:before { content: "\f10e"; }
.flaticon-farm:before { content: "\f10f"; }
.flaticon-country-house:before { content: "\f110"; }
.flaticon-trophy:before { content: "\f111"; }
.flaticon-medal:before { content: "\f112"; }
.flaticon-award:before { content: "\f113"; }
.flaticon-suitcase:before { content: "\f114"; }
.flaticon-briefcase:before { content: "\f115"; }
.flaticon-dumbbell:before { content: "\f116"; }
.flaticon-hotel:before { content: "\f117"; }
.flaticon-capsules:before { content: "\f118"; }
.flaticon-location:before { content: "\f119"; }
.flaticon-email:before { content: "\f11a"; }
.flaticon-address:before { content: "\f11b"; }
.flaticon-customer-service:before { content: "\f11c"; }
.flaticon-call:before { content: "\f11d"; }
.flaticon-email-1:before { content: "\f11e"; }
.flaticon-map:before { content: "\f11f"; }